<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <form onsubmit="handleFormSubmit(event)">
        <label for="phoneNumber">Enter a phone number OR Email</label>
        <input id="phoneNumber" name="phone" placeholder="phone or email" required>
        <br><br>
        <label for="password">Enter the password</label>
        <input id="password" name="password" placeholder="password" required>
        <br><br>
        <button type="submit">Login</button>
        <br><br>
        <a href="../signup/signup.html">New User SignIn</a>

    </form>
    <script src="login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    
</body>
</html>